
@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }   

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-image: url('../../Assets/Fondos/FondoLanding.jpg');
    background-size: 80%;       
  } 

  .home{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center; 
    top: 95%;
    left: 25%;    
    width: 8em;
    height: 4em;
    border-radius: 10px;
    border: 2px solid white;
    border-width: 5px;
    background-color: #357b82 ;   
    animation: jump 0.5s infinite;                 
  }

  .text{
    font-size: 1.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    color: white;
  }  
  
  .icon {
    position: absolute; 
    left: 15%;  
    top: 10%;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background-image: url('../../Assets/Fondos/pokebool.png');
    background-size: cover;           
  }
